body {
    background-color: mediumpurple;
    font-family: Arial, Helvetica, sans-serif;
}

.assignment{
    display:flex;
    padding:10px;
    margin:10px;
    margin-bottom: 30px;
    background-color: skyblue;
    border-radius: 5px;
    box-shadow: 5px 10px darksalmon;
}

.assignment img {
    width:220px;
    padding:10px;
    border: 2px solid gray;
    margin-right:20px;
    border-radius: 5px;
}

h1{
    color: darksalmon;
    text-align: center;
}

a{
    text-decoration:none;
    color: black;
}

.assignment a:hover {
    color: powderblue;
}